@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@700&display=swap');
@import url('https://fonts.cdnfonts.com/css/circe');
:root {
  --primary-text-color: #000000;
  --accent--color: #24cca7;
}

*,
h1,
h2,
h3,
h4,
h5,
h6,
ul,
li,
p {
  margin: 0;
  padding: 0;
}

button {
  margin: 0;
  padding: 0;
}
.container {
  background: #e7eaf2;

  min-width: 1280px;
}

.img__list {
  display: inline-flex;
  align-items: center;
  list-style: none;
}

.img__itemLeft {
  background: #e7eaf2;
  padding-right: 49px;
}

.img__itemRight {
  margin-left: 143px;
  background: rgba(255, 255, 255, 0.4);
}
.img__position {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.img {
  min-width: 100%;
  min-height: 100%;
  margin-top: 150px;
  margin-left: 76px;
  margin-bottom: 28px;
}

.img__title {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 700;
  font-size: 30px;
  line-height: 45px;
  display: flex;
  align-items: center;

  color: #000000;

  margin-bottom: 77px;
}

.logo {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 700;
  font-size: 30px;
  line-height: 45px;

  margin-bottom: 50px;
}

.finance__menu {
  display: inline-flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;

  width: 540px;
  height: 468px;

  background: #ffffff;
}

.form__field {
  display: inline-flex;
  flex-direction: column;
  align-items: center;
}

.form__input {
  font-family: 'Circe';
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 27px;

  margin-bottom: 40px;

  width: 409.5px;
  height: 34px;
  background: #ffffff;

  border: none;
  border-bottom: 1px solid #e0e0e0;
}

.button__entry {
  width: 300px;
  height: 50px;
  margin-bottom: 20px;

  font-family: 'Circe';
  font-size: 18px;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  border-radius: 20px;
  border: none;

  color: #ffffff;
  background: #24cca7;

  cursor: pointer;
}

.button__registration {
  width: 300px;
  height: 50px;

  font-family: 'Circe';

  font-size: 18px;
  line-height: 27px;
  text-align: center;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  border-radius: 20px;

  background: #ffffff;
  border: 1px solid #4a56e2;
  color: #4a56e2;

  cursor: pointer;
}
